* {
	font-family: NotoSans Nerd Font Propo;
	font-size: 15px;
}

#waybar {
	background: #000000;
	color: #ffffff;
}

.module {
	padding: 0px 6px;
}

#workspaces button {
	all: initial;
	padding: 0 4px;
	min-width: 16px;
	color: #888888;
}

/* #custom-terminal, */
/* #custom-discord, */
/* #custom-neovim, */
/* #custom-blueman, */
/* #custom-vpn, */
/* #custom-steam, */
/* #custom-chromium { */
/* 	padding: 0 4px; */
/* 	font-size: 22px; */
/* } */

#workspaces button.empty {
	color: #555555;
}

#workspaces button.active {
	color: #ffffff;
}

#tray {
	margin-right: 4px;
	padding: 0 8px;
	background: #222222;
}

