* {
	font-family: JetBrainsMono Nerd Font Propo;
	font-size: 14px;
    font-weight: 600;
}

#waybar {
	background: black;
	color: #ffffff;
}

.module {
    border-radius: 12px;
	padding: 0px 12px;
}

#workspaces button {
	all: initial;
	padding: 0 4px;
	min-width: 16px;
	color: #888888;
}

#workspaces button.empty {
	color: #555555;
}

#workspaces button.focused {
	color: #ffffff;
}

#tray {
	padding: 0 12px;
}

#window {
    color: #999999;
    font-style: italic;
}

